body{
    margin: 0;
    padding: 0;
    box-sizing: none;

}
.item h1{
    margin:0;
}
.header{
    display: flex;
}
.sum{
    color: blue;
}
.number{
    display: flex;
}
.item-tex{
    display: flex;
}
.box{
    header: 400px;
    width: 300px;
}